.container{
    width: 400px;

}

.screen{
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    font-size: 30px;
    text-align: right;
    background: #262834;
    color: white;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}

.buttons button{
    width: 100px;
    height: 80px;
    border: none;
    outline: none;
    color: white;
    background: #262834;
    cursor: pointer;
    font-size: 25px;
    border: 1px solid rgb(92,92,92);
}
